mixin comment(comment)
    li.commentLi.watchComment(data-commentId=comment.id, data-commentVideoId=comment.video)
        if video
            p.txtAvatar(style=`background-image:url(${loggedInUser.avatarUrl}); background-size:cover; background-position:center;`)
        else
            p.txtAvatar(style=`background-image:url(${user.avatarUrl}); background-size:cover; background-position:center;`)
        div.userWrap
            p.commentName=comment.name
            .commentTxtWrap    
                p.commentText=comment.text
                small.commentCreatedAt=comment.createdAt
        if String(comment.owner) === String(loggedInUser._id)
            .btnWrap 
                i.fas.fa-ellipsis-vertical.commentsBtnIcon
                div.btnBox
                    p.editBtn
                        i.fas.fa-pen
                        span 수정
                    hr
                    p.deleteBtn 
                        i.fas.fa-xmark 
                        span 삭제