mixin video(video)

    div.video-wrap
        a(href=`/videos/${video._id}`)

            div.thumbImg(style=`background-image:url(${video.thumbUrl}); background-size:cover; background-position:center;`)
            div.video-title-wrap
                div.avatarImg(style=`background-image:url(${video.owner.avatarUrl}); background-size:cover; background-position:center; background-color:white;`)
                h3.video-title=video.title
            p.video-name=video.owner.name
            div.video-meta 
                small.video-createdAt=video.createdAt
                p #{video.meta.views} #{video.meta.views === 1  ? "view" :"views"}
        