extends base

block content
    .videoWrap
        h3.pageTitle=pageTitle
        if errorMessage 
            span=errorMessage
        img#avatarEditImg(src=loggedInUser.avatarUrl) 
        form#editProfile( method="post" enctype="multipart/form-data") 
            label(for="avatar") avatar
            input(type="file" name="avatar" id="avatar" accept="image/*")
            input(placeholder="username" required type="text" name="username" value=loggedInUser.username ) 
            input(placeholder="name" required type="text" name="name" value=loggedInUser.name ) 
            input(placeholder="email" required type="text" name="email" value=loggedInUser.email ) 
            input(placeholder="intro" required type="text" name="intro" value=loggedInUser.intro ) 
            input.formBtn(type="submit" value="save") 
            hr#formHr
        div.changeWrap
            p
                a(href="change-password") Change password &rarr;
            p
                a(href="delete") Delete account &rarr;