extends base
include mixins/video
include mixins/comment

block content 
    div.videoWrap.clickWrap
        h3.pageTitle.paddingBottom Profile
        #profileWrap 
            div#profileImg(style=`background-image:url(${user.avatarUrl}); background-size:cover; background-position:center;`)
            p#profileName=user.name
            p#profileUserId @#{user.username}
            p#profileIntro=user.intro
            p#userCreatedAt=user.createdAt
            hr
            a#userEditBtn(href=`${user._id}/edit-profile`)
                i.fas.fa-user-pen 
                span edit profile &rarr;
        h3.profileTitle videos
        div#userVideoWrap
            if user.videos 
                each video in user.videos.reverse()
                    +video(video)
            else 
                p.notingText video noting found.
        div#commentsWrap
            h3.profileTitle Comments
            ul
                each comment in user.comments.reverse()
                    +comment(comment)

block scripts 
    if loggedIn
        script(src="/static/js/videoComments.js")

                
